<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property resource="application.yaml" />
    <property resource="application.yml" />
    <appender name="accessJsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
            <evaluator>
                <expression>
                    String uri = event.getRequestURI();
                    if((event.getStatusCode() == 200 || event.getStatusCode() == 304)
                        &amp;&amp; ((uri.startsWith("/css"))
                                || (uri.startsWith("/js")) 
                                || (uri.startsWith("/webfonts"))
                                || (uri.startsWith("/img"))
                                || (uri.startsWith("/favicon")))){
                                    return true;
                                }
                    else if(uri.startsWith("/apple")){
                        return true;
                    }
                    return false;
                </expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "@version" : "1",
                        "@type" : "access",
                        "logtype": "tomcat-access",
                        "x_forwarded_for": "%header{X-Forwarded-For}",
                        "client_host" : "%clientHost",
                        "remote_user" : "%user",
                        "request_method" : "%requestMethod",
                        "request_url" : "%requestURL",
                        "request_uri" : "%requestURI",
                        "status_code" : "#asLong{%statusCode}",
                        "bytes_sent" : "#asLong{%bytesSent}",
                        "elapsed_time" : "#asLong{%elapsedTime}",
                        "message" : "%requestURL %statusCode",
                        "user_agent": "%i{User-Agent}",
                        "referer": "%header{Referer}"
                        }
                    </pattern>
                </pattern>
                <provider class="no.idporten.logging.access.AccesslogProvider"/>
            </providers>
        </encoder>
    </appender>
    <appender-ref ref="accessJsonConsoleAppender" />
</configuration>
